@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e7e7e7;
}

/*  section style */
section {
    background-color: #e7e7e7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

/*  if the section become dark this style will work */
section.dark {
    background-color: #24292d;
}

/*  section calculator-Box */
section .calculator-Box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  section calculator-Box in calculator-Box__container */
section .calculator-Box .calculator-Box__container {
    box-shadow: inset -6px -6px 13px #3d3c3cc7, inset 6px 6px 13px rgb(0 0 0 / 60%);
    background-color: #ecf0f3;
    border-radius: 28px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    transition: 0.5s;
}

/*  if the section become dark this style will work */
section.dark .calculator-Box .calculator-Box__container {
    background-color: #323840;
    box-shadow: inset -6px -6px 13px #f9eeee4d, inset 6px 6px 13px rgb(242 235 235 / 18%);
}

/*  section calculator-Box in calculator-Box__container  input style*/ 
section .calculator-Box .calculator-Box__container input {

    grid-column: span 4;
    height: 68px;
    width: 258px;
    box-shadow: inset 6px 6px 13px #313131, inset 6px 6px 13px rgb(0 0 0 / 16%);
    background-color: #8b8c8c;
    border: none;
    border-radius: 32px;
    color: rgb(26, 25, 25);
    text-align: right;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;
    outline: none;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

section.dark .calculator-Box .calculator-Box__container input {
    box-shadow: inset 6px 7px 13px #000000, inset 10px 6px 13px rgb(19 18 18 / 30%);
    background-color: #8a9292;
}

/*  section calculator-Box in calculator-Box__container  input button*/ 
section .calculator-Box .calculator-Box__container button {
    position: relative;
    background-color: #06d0d0;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    box-shadow: inset 2px 4px 13px #7d7c7c, 4px 4px 13px rgb(44 44 44 / 85%);
}

/*  section calculator-Box in calculator-Box__container  button hover style*/ 
section .calculator-Box .calculator-Box__container button:hover {
    background: linear-gradient(331deg, #3bbcbd, #7be0e0);
}


/*  section calculator-Box in calculator-Box__container  button:3th child hover style*/ 
section .calculator-Box .calculator-Box__container button:nth-child(3) {
    font-size: 16px;
}


/*  if the section become dark this style will work */
section.dark .calculator-Box .calculator-Box__container button {
    box-shadow: inset 3px 3px 13px #fff, 3px 3px 13px rgb(0 0 0 / 16%);
}


/*  section calculator-Box in calculator-Box__container  button:2th child  style*/ 
section .calculator-Box .calculator-Box__container button:nth-child(2) {
    background: linear-gradient(307deg, #f51010, #f10e5e);
}


/*  section calculator-Box in calculator-Box__container  button:2th child  hover style*/ 
section .calculator-Box .calculator-Box__container button:nth-child(2):hover {
    background: linear-gradient(307deg, #f51010, #eb90b2);
}

/*  if the section become dark this style will work */
section.dark .calculator-Box .calculator-Box__container button:nth-child(2) {
    background: linear-gradient(307deg, #f51010, #eb7aa2);
}

/*  if the section become dark this style will work */
section.dark .calculator-Box .calculator-Box__container button:nth-child(2):hover {
    background: linear-gradient(307deg, #f51010, #bb5a7a);
}


/*  section calculator-Box in calculator-Box__container 
button:2th,3rd,4th,5th,9th,13th,17th,20 child  style*/ 
section .calculator-Box .calculator-Box__container button:nth-child(3),
section .calculator-Box .calculator-Box__container button:nth-child(4),
section .calculator-Box .calculator-Box__container button:nth-child(5),
section .calculator-Box .calculator-Box__container button:nth-child(9),
section .calculator-Box .calculator-Box__container button:nth-child(13),
section .calculator-Box .calculator-Box__container button:nth-child(17),
section .calculator-Box .calculator-Box__container button:nth-child(20) {
    background: #ffa500de;
}
/*  section calculator-Box in calculator-Box__container 
button:2th,3rd,4th,5th,9th,13th,17th,20 child  hover style*/ 
section .calculator-Box .calculator-Box__container button:nth-child(3):hover,
section .calculator-Box .calculator-Box__container button:nth-child(4):hover,
section .calculator-Box .calculator-Box__container button:nth-child(5):hover,
section .calculator-Box .calculator-Box__container button:nth-child(9):hover,
section .calculator-Box .calculator-Box__container button:nth-child(13):hover,
section .calculator-Box .calculator-Box__container button:nth-child(17):hover,
section .calculator-Box .calculator-Box__container button:nth-child(20):hover {
    background: linear-gradient(307deg, #f5a510, #e0b509);
}
/*  if the section become dark this style will work
button:2th,3rd,4th,5th,9th,13th,17th,20 child  style*/
section.dark .calculator-Box .calculator-Box__container button:nth-child(3),
section.dark .calculator-Box .calculator-Box__container button:nth-child(4),
section.dark .calculator-Box .calculator-Box__container button:nth-child(5),
section.dark .calculator-Box .calculator-Box__container button:nth-child(9),
section.dark .calculator-Box .calculator-Box__container button:nth-child(13),
section.dark .calculator-Box .calculator-Box__container button:nth-child(17),
section.dark .calculator-Box .calculator-Box__container button:nth-child(20) {
    background: #9b2cf2;
}

/*  if the section become dark this style will work
button:2th,3rd,4th,5th,9th,13th,17th,20 child  hover style*/
section.dark .calculator-Box .calculator-Box__container button:nth-child(3):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(4):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(5):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(9):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(13):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(17):hover,
section.dark .calculator-Box .calculator-Box__container button:nth-child(20):hover {
    background: linear-gradient(307deg, #9b2cf2, #ad74d8);
}


/* section calculator-Box calculator-Box__container calculator-Box__container--equal style  */
section .calculator-Box .calculator-Box__container .calculator-Box__container--equal {
    width: 120px;
    border-radius: 42px;
}

/* toggle */
.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #404852;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.dark .toggle {
    background-color: #d8dbdf;

}

.toggle:before {
    content: "\f186";
    font-family: fontAwesome;
    color: #fcfbf8;
}

/*  if the section become dark this style will work */
section.dark .toggle:before {
    content: "\f185";
    color: rgb(20, 20, 20);
    font-weight: 900;
}

a {
    text-decoration: none;
    position: absolute;
    width: 220px;
    height: 55px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

a:hover {
    color: rgb(5, 4, 4);
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("image/btn-bg1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: left;
    transition: 0.5s;
}


a span {
    position: relative;
    z-index: 1;
    font-size: 43px;

    font-family: 'Tangerine', cursive;
}

/* toggle style ends here */



/* media style 789px */
@media (max-width:789px) {
      Section .calculator-Box .calculator-Box__container {
        padding: 15px 18px 27px;
        margin-top: 30px;
    }
    .toggle {
        top: 45px;
    }
    
    a {

        width: 150px;
        height: 40px;
    }

    a span {

        font-size: 32px;

    }

    a:before {
        background-size: 150px;

    }
}
